@import '../../styles/variables';

.blog-post {
  max-width: 800px;
  margin: 0 auto;
  padding: $spacing-xl $spacing-md;

  &-header {
    margin-bottom: $spacing-xl;
    text-align: center;

    h1 {
      font-family: $font-heading;
      color: $midnight-black;
      font-size: 2.5rem;
      margin-bottom: $spacing-sm;
    }

    .meta {
      font-family: $font-main;
      color: $dark-grey;
    }
  }

  &-content {
    font-family: $font-main;
    line-height: 1.6;
    color: $text-color;

    p {
      margin-bottom: $spacing-md;
    }
  }
}